<div class="nav-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <p class="navbar-text"><%= @merchant.name %></p>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Dashboard', merchant_dashboard_index_path, style: 'pull-right' %>
      <%= link_to 'My Items', merchant_items_path(@merchant), style: 'pull-right' %>
      <%= link_to 'My Invoices', merchant_invoices_path(@merchant), style: 'pull-right' %></li>
      <%= link_to 'My Bulk Discounts', merchant_bulk_discounts_path(@merchant), style: 'pull-right' %>
    </ul>
  </nav>
</div>

<body>

  <div class="row">
    <p class='col-12'>Upcoming Holidays</p>
  </div>

  <ol><% @holidays.each do |holiday| %>
    <li><%= holiday.name %>, <%= holiday.date.strftime("%B %d") %> <br>
  <% end  %></ol>

  <div class="row">
    <p class='col-12'>My Bulk Discounts</p>
  </div>

<%= link_to 'New Bulk Discount', new_merchant_bulk_discount_path(@merchant), style: 'pull-right' %>

  <% @bulk_discounts.each do |discount| %>
    <p><%= link_to "Bulk Discount ##{discount.id}", merchant_bulk_discount_path(@merchant, discount) %> <%= discount.percentage*100 %>% off <%=discount.minimum %> item or more <%= link_to "Delete Bulk Discount ##{discount.id}", merchant_bulk_discount_path(@merchant, discount), method: :delete%></p>
  <% end %>
</body>
